.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto; 
    padding: 20px;
    gap: 20px;
    color: white;
    text-align: center; 
}

.search-input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #888;
    background-color: #1a1a1a;
    color: white;
    margin-bottom: 20px;
    text-align: center; 
}

.search-input::placeholder {
    color: #ccc;
}

.book-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    width: 100%;
}